<a href="https://colab.research.google.com/github/Bluelord/ML_Cookbook/blob/main/Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Loading Data**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Loading a Sample Datasets from Sklearn

from sklearn.datasets import load_digits
X,y = load_digits(return_X_y = True) # load digits dataset
print("View feature shape: {}" .format(X.shape))
print("first observaton: \n{}" .format(X[:,1:5]))

View feature shape: (1797, 64)
first observaton:
[[ 0.  5. 13.  9.]
 [ 0.  0. 12. 13.]
 [ 0.  0.  4. 15.]
 ...
 [ 0.  1. 11. 15.]
 [ 0.  2. 10.  7.]
 [ 0. 10. 14.  8.]]

In [8]:
# Creating a Simulated Dataset

# Regression dataset can be made with make_regression
from sklearn.datasets import make_regression

# Generating feature matrix, target vectors & true coefficient
features, target, coefficient = make_regression(
    n_samples = 200, n_features = 5, n_informative= 4, n_targets =1,
    noise=25, coef = True, random_state= 70)

print("Feature Matris for make_regression: \n{}" .format(features[:3]))
print("Taget Vector for make_regression: \n{}\n" .format(target[:3]))

# Clasificaton dataset can be made with make_classification
from sklearn.datasets import make_classification

# Generating feature matrix, target vectors & true coefficient
features, target = make_classification(
    n_samples = 100, n_features = 3, n_informative= 3, n_redundant = 0, 
    n_classes= 2, weights = [.25,.75], random_state= 70)

print("Feature Matris for make_classification: \n{}" .format(features[:3]))
print("Taget Vector for make_classification: \n{}\n" .format(target[:3]))

# Clastering dataset can be made with make_blobs
from sklearn.datasets import make_blobs

# Generating feature matrix, target vectors & true coefficient
features, target = make_blobs(
    n_samples = 200, n_features = 2, centers = 3, cluster_std = 0.5,
    shuffle = True, random_state=1)

print("Feature Matris for make_blobs: \n{}" .format(features[:3]))
print("Taget Vector for make_blobs: \n{}" .format(target[:3]))

Feature Matris for make_regression:
[[ 1.67221927 -2.74159009  1.00762992  1.01266972  0.95881756]
 [ 0.44117174 -0.0464268   1.06572359  1.03088982  0.26565953]
 [-0.21200375 -0.38961794  0.51645591  0.85639192  0.0064851 ]]
Taget Vector for make_regression:
[ 41.21444911 100.17419575  25.22320796]

Feature Matris for make_classification:
[[-1.13275416  1.22677951 -0.80923238]
 [-1.34228456  0.34885592  1.42472582]
 [-0.59237029 -0.82463289  0.83654155]]
Taget Vector for make_classification:
[0 1 1]

Feature Matris for make_blobs:
[[ -7.47996813  -8.5935169 ]
 [-10.58887157  -4.28622581]
 [ -7.34362954  -7.68364373]]
Taget Vector for make_blobs:
[2 1 2]

In [10]:
# Loading CSV File

import pandas as pd 
# Loading from a location
dataframe = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ML Cookbook/Datasets/Data.csv") 

dataframe.head(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [13]:
# Loading Data from URl
url = "http://winterolympicsmedals.com/medals.csv"
data = pd.read_csv(url)
data.head(5)

   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]

In [18]:
# Loading an Excel File

dataset = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ML Cookbook/Datasets/sampledatainsurance.xlsx")
dataset.head(5)

   Policy     Expiry Location State  ... Construction  BusinessType Earthquake Flood
0  100242 2021-01-02    Urban    NY  ...        Frame        Retail          N     N
1  100314 2021-01-02    Urban    NY  ...  Fire Resist     Apartment          Y     Y
2  100359 2021-01-02    Rural    WI  ...        Frame       Farming          N     N
3  100315 2021-01-03    Urban    NY  ...        Frame     Apartment          Y     Y
4  100385 2021-01-03    Urban    NY  ...      Masonry   Hospitality          N     N

[5 rows x 10 columns]

In [ ]:
# Querying a SQL Database 

import pandas as pd
from sqlalchemy import create_engine

data_connection = create_engine('sqlite:///sample.db')
dataframe = pd.read_sql_query('SELECT * FROM data', data_connection)

dataframe.head(3)